<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend Form Task  Create  </title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
</head>
<body>
   <div class="main w-full text-white min-h-screen bg-zinc-700">
        <div class="form p-10 text-white">
            <form action="/create" method="post">
                <input name="title" class="block px-5 w-full outline-none rounded-md py-2 bg-zinc-800" type="text" placeholder="Title Goes Here ">
                <textarea name="details" class="block mt-2 w-full outline-none rounded-md px-5 py-2 bg-zinc-800 resize-none" placeholder="Write your task Details Here"></textarea>
                <input class="mt-2 bg-blue-600 px-5 py-2 rounded-md" type="submit" value="Create Task">
            </form>
        </div>

        <div class="tasks flex gap-3 flex-wrap p-10">
            <% if (files.length > 0) { %>
                <% files.forEach(function(val) { %>
                    <div class="task  min-w-72 px-3 py-4 rounded bg-zinc-800">
                        <h1 class="text-white text-3xl tracking-tighter"> <%= val %> </h1>
                        <div class="flex w-full justify-between  mt-3 items-center">
                            <a class="text-blue-600 inline-block " href="/file/<%= val %>">Read More.</a>
                            <a class="text-zinc-600" href="/edit/<%= val %>">Edit</a>
                        </div>
                        </div>
                <% }); %>
            <% } else { %>
                <h3 class="text-zinc-600">No Task Here</h3>
            <% } %>
        </div>
   </div>
</body>
</html>



<!--  code Html -->
<!-- <div class="main w-full text-white min-h-screen bg-zinc-700">
    <div class="form p-10  text-white">
        <form action="">
            <input    class="block px-5 w-full outline-none rounded-md py-2 bg-zinc-800 " type="text" placeholder="Title Goes Here ">
            <textarea class="block mt-2 w-full outline-none rounded-mdpx-5 py-2 bg-zinc-800 resize-none" placeholder="Write your task Details Here"></textarea>
            <input class="mt-2 bg-blue-600 px-5 py-2 rounded-md" type="submit" placeholder="Create Task">
        </form>
    </div>
     <div class="tasks flex  gap-3 flex-wrap p-10">
            <!--Task 1  -->
        <!-- <div class="task hidden w-72 px-3 py-4 rounded bg-zinc-800">
            <h1 class="text-white text-3xl tracking-tighter">Some Task Goes Here</h1>
            <a  class="text-blue-600 inline-block mt-3" href="">Read More.</a>
        </div>
        <h3 class="text-zinc-600  ">No Task Here</h3>
    </div>
   </div> -->