<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend Form Task  Create  </title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
</head>
<body>
   <div class="main w-full text-white min-h-screen bg-zinc-700 p-10 text-white">
    <a href="/" class="text-blue-600 inline-block mb-10 ">back to home</a>         
    <h1 class="text-3xl"><%= filename %></h1>
<p class="text-xl mt-2"><%= filedata %></p>

   </div>
</body>
</html>

